<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brandy</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <!--scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/menu.js"></script>
</head>
<body>
    <!--Menu-->
<nav>
    <div class="logo">
        <a href="../index.html">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717027/web%20projects/Brandy/logo_dmi692.png" data-aos="zoom-in">
        </a>
    </div>
    <div class="menu" id="btn-menu">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716990/web%20projects/Brandy/icons/menu_nrremj.png" data-aos="zoom-in" data-aos-delay="200">
    </div>
</nav>
<!--Box menu-->
<div class="box-menu show" id="box-menu">
    <div class="box" id="box">
        <ul>
            <li><a class="link" href="../index.html">Home</a></li>
            <li><a class="link" href="../index.html#services">Services</a></li>
            <li><a class="link" href="we-are.html">We Are Brandy</a></li>
            <li><a class="link" href="contact.html">Contact</a></li>
        </ul>
        <span id="salida">X</span>
    </div>
</div>
<!--service-->
<header class="serv-header" style="background: url('https://res.cloudinary.com/dcldwtvku/image/upload/v1600716935/web%20projects/Brandy/backgrounds/factory_kq54wb.png');">
    <h1 data-aos="zoom-in">brand</h1>
    <h3 data-aos="zoom-in" data-aos-delay="200">development</h3>
</header>

<div class="gradient"></div>

<div class="caracteristics">
    <div class="caracteristic">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716969/web%20projects/Brandy/development/1_v2415c.png" data-aos="zoom-in">
        <div class="text">
            <h4 data-aos="fade-right">Idea</h4>
            <p data-aos="fade-right">We transform any kind of idea into something useful, it doesn't matter if it's big or small.</p>
        </div>
    </div>
    <div class="caracteristic">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716970/web%20projects/Brandy/development/2_ibijfd.png" data-aos="zoom-in">
        <div class="text">
            <h4 data-aos="fade-right">Design & development</h4>
            <p data-aos="fade-right">We design beautiful UX platforms and develop user friendly technologies.</p>
        </div>
    </div>
    <div class="caracteristic">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716969/web%20projects/Brandy/development/3_y3dvb1.png" data-aos="zoom-in">
        <div class="text">
            <h4 data-aos="fade-right">Launch strategy</h4>
            <p data-aos="fade-right">We analyze and execute a great communication strategy for the launch of your project.</p>
        </div>
    </div>
</div>

<div class="services-sec">
    <div class="title">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717027/web%20projects/Brandy/services_fv3n5a.png" alt="Services" data-aos="zoom-in">
    </div>
    <div class="gradient"></div>
    <div class="services-box">
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716970/web%20projects/Brandy/development/services/1_mxolkp.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716970/web%20projects/Brandy/development/services/2_u58rm3.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716970/web%20projects/Brandy/development/services/3_zzmoci.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716970/web%20projects/Brandy/development/services/4_rwzrdj.png"></div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="contact" id="contact">
        <h2>Contact Us</h2>
        <h3><a href="mailto:hola@brandy.la">hola@brandy.la</a></h3>
        <p>ESCAZÚ, SAN JOSÉ, COSTA RICA TORRE BANCO GENERAL, 3RD FLOOR</p>
        <p><strong>Copyright 2019 © Brandy Creativity & Technology - All Rights Reserved</strong></p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/WeAreBrandy/" target=”_blank”><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716989/web%20projects/Brandy/icons/fb-w_fhsgey.png" alt=""></a>
        <a href="https://www.instagram.com/brandycr/" target=”_blank”><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716989/web%20projects/Brandy/icons/instagram-w_yi4xya.png" alt=""></a>
    </div>
</footer>
<script>
    AOS.init();
</script>

</body>
</html>