<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brandy</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <!--scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/menu.js"></script>
</head>
<body>
    <!--Menu-->
<nav>
    <div class="logo">
        <a href="../index.html">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717027/web%20projects/Brandy/logo_dmi692.png" data-aos="zoom-in">
        </a>
    </div>
    <div class="menu" id="btn-menu">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716990/web%20projects/Brandy/icons/menu_nrremj.png" data-aos="zoom-in" data-aos-delay="200">
    </div>
</nav>
<!--Box menu-->
<div class="box-menu show" id="box-menu">
    <div class="box" id="box">
        <ul>
            <li><a class="link" href="../index.html">Home</a></li>
            <li><a class="link" href="../index.html#services">Services</a></li>
            <li><a class="link" href="we-are.html">We Are Brandy</a></li>
            <li><a class="link" href="contact.html">Contact</a></li>
        </ul>
        <span id="salida">X</span>
    </div>
</div>
<!--service-->
<header class="serv-header" style="background: url('https://res.cloudinary.com/dcldwtvku/image/upload/v1600716938/web%20projects/Brandy/backgrounds/management_jphl5b.png');">
    <h1 data-aos="zoom-in">brand</h1>
    <h3 data-aos="zoom-in" data-aos-delay="200">management</h3>
</header>

<div class="gradient"></div>

<div class="caracteristics">
    <div class="caracteristic">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717006/web%20projects/Brandy/management/1_exiogm.png" data-aos="zoom-in">
        <div class="text">
            <h4 data-aos="fade-right">Horizontal Interaction</h4>
            <p data-aos="fade-right">A brand's tone must be real and close.</p>
        </div>
    </div>
    <div class="caracteristic">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717006/web%20projects/Brandy/management/2_a7kfyq.png" data-aos="zoom-in">
        <div class="text">
            <h4 data-aos="fade-right">Less is more</h4>
            <p data-aos="fade-right">A smart brand generates interesting and quality content for their audience.</p>
        </div>
    </div>
    <div class="caracteristic">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717006/web%20projects/Brandy/management/3_m7nhag.png" data-aos="zoom-in">
        <div class="text">
            <h4 data-aos="fade-right">Powerful Optimization</h4>
            <p data-aos="fade-right">We Focus your budget on your potential customers to maximize the results of conversions at a lower cost.</p>
        </div>
    </div>
</div>

<div class="services-sec">
    <div class="title">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717027/web%20projects/Brandy/services_fv3n5a.png" alt="Services" data-aos="zoom-in">
    </div>
    <div class="gradient"></div>
    <div class="services-box">
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717006/web%20projects/Brandy/management/services/1_zhdhbo.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/2_itpdaz.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/3_mzihbl.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/4_nfywrw.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/5_goyhiu.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/6_mnagi1.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/7_vegkiy.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717008/web%20projects/Brandy/management/services/8_jb6t3z.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717008/web%20projects/Brandy/management/services/9_ec1lxt.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717006/web%20projects/Brandy/management/services/10_cnwdgp.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717006/web%20projects/Brandy/management/services/11_m6nran.png"></div>
        <div class="service" data-aos="zoom-in"><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717007/web%20projects/Brandy/management/services/12_sxonk2.png"></div>
    </div>
</div>
<!--footer-->
<footer>
    <div class="contact" id="contact">
        <h2>Contact Us</h2>
        <h3><a href="mailto:hola@brandy.la">hola@brandy.la</a></h3>
        <p>ESCAZÚ, SAN JOSÉ, COSTA RICA TORRE BANCO GENERAL, 3RD FLOOR</p>
        <p><strong>Copyright 2019 © Brandy Creativity & Technology - All Rights Reserved</strong></p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/WeAreBrandy/" target=”_blank”><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716989/web%20projects/Brandy/icons/fb-w_fhsgey.png" alt=""></a>
        <a href="https://www.instagram.com/brandycr/" target=”_blank”><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716989/web%20projects/Brandy/icons/instagram-w_yi4xya.png" alt=""></a>
    </div>
</footer>
<script>
    AOS.init();
</script>

</body>
</html>