<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brandy</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <!--scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/menu.js"></script>
</head>
<body>
    <!--Menu-->
<nav>
    <div class="logo">
        <a href="../index.html">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717027/web%20projects/Brandy/logo_dmi692.png" alt="" data-aos="zoom-in">
        </a>
    </div>
    <div class="menu" id="btn-menu">
        <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716990/web%20projects/Brandy/icons/menu_nrremj.png" alt="" data-aos="zoom-in" data-aos-delay="200">
    </div>
</nav>
<!--Box menu-->
<div class="box-menu show" id="box-menu">
    <div class="box" id="box">
        <ul>
            <li><a class="link" href="../index.html">Home</a></li>
            <li><a class="link" href="../index.html#services">Services</a></li>
            <li><a class="link" href="we-are.html">We Are Brandy</a></li>
            <li><a class="link" href="contact.html">Contact</a></li>
        </ul>
        <span id="salida">X</span>
    </div>
</div>
<!--We are brandy-->
<header class="we-are" style="background: url('https://res.cloudinary.com/dcldwtvku/image/upload/v1600716939/web%20projects/Brandy/backgrounds/lemons_hvsmxx.png')">
    <h1 data-aos="zoom-in">We are</h1>
    <h3 data-aos="zoom-in" data-aos-delay="200">Brandy</h3>
</header>
<div class="gradient"></div>
<section class="phrase">
    <h3 data-aos="zoom-in">an agency for</h3>
    <h3 data-aos="zoom-in">today's digital world</h3>
</section>

<section class="structure">
    <div class="titles">
        <h4 data-aos="fade-down">We understand digital not as a mean, but as a whole.</h4>
        <p data-aos="zoom-in">That's why, regardless of the medium, all our proposals will have a <span class="marked">strong output to digital media.</span></p>
    </div>
    <div class="our-structure" data-aos="zoom-in">
        <h3 class="letters1">our</h3>
        <div class="yellow1"></div>
        <h3 class="letters2">Structure</h3>
        <div class="yellow2"></div>
    </div>
    <div class="structure-elements">
        <div class="element" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717014/web%20projects/Brandy/structure/1_qsybpm.png" alt="">
            <h4>1. Project management</h4>
            <p>We create a full functional workflow for the relationship and communication with our clients is flawless.</p>
        </div>
        <div class="element" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717014/web%20projects/Brandy/structure/2_cw7wwx.png" alt="">
            <h4>2. Planning</h4>
            <p>If Creativity is the chef, Planning is the recipe. We analyze, understand and listen to the voice of the consumer</p>
        </div>
        <div class="element" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717014/web%20projects/Brandy/structure/3_p9rxyv.png" alt="">
            <h4>3. Creativity</h4>
            <p>Our copywriting and design team creates meaningful sturytellings for our client's target.</p>
        </div>
        <div class="element" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717014/web%20projects/Brandy/structure/4_krs03g.png" alt="">
            <h4>4. production</h4>
            <p>Where stories come to life. We create all kinds of content in all kinds of media for our clients.</p>
        </div>
        <div class="element" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717014/web%20projects/Brandy/structure/5_ydazbk.png" alt="">
            <h4>5. Code</h4>
            <p>We develop, design and program any app, sites or softwares components required.</p>
        </div>
        <div class="element" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717014/web%20projects/Brandy/structure/6_fnvfme.png" alt="">
            <h4>6. paid media</h4>
            <p>We make sure the content is placed where it should be. targeting the right audience with effective messages.</p>
        </div>
    </div>
</section>

<section class="team">
    <div class="our-team" data-aos="zoom-in">
        <h3 class="letters1">Our</h3>
        <div class="yellow1"></div>
        <div class="yellow2"></div>
        <h3 class="letters2">Team</h3>
    </div>
    <div class="members">
        <div class="member" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717019/web%20projects/Brandy/team/1_yedefx.png">
            <div class="degradado">
                <div class="line"></div>
                <h4 class="name">Team member</h4>
                <div class="line"></div>
                <p class="job">Rol position</p>
            </div>
        </div>
        <div class="member" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717019/web%20projects/Brandy/team/2_drtkk6.png">
            <div class="degradado">
                <div class="line"></div>
                <h4 class="name">Team member</h4>
                <div class="line"></div>
                <p class="job">Rol position</p>
            </div>
        </div>
        <div class="member" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717019/web%20projects/Brandy/team/3_fccobx.png">
            <div class="degradado">
                <div class="line"></div>
                <h4 class="name">Team member</h4>
                <div class="line"></div>
                <p class="job">Rol position</p>
            </div>
        </div>
        <div class="member" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717019/web%20projects/Brandy/team/4_d8gpuz.png">
            <div class="degradado">
                <div class="line"></div>
                <h4 class="name">Team member</h4>
                <div class="line"></div>
                <p class="job">Rol position</p>
            </div>
        </div>
        <div class="member" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717019/web%20projects/Brandy/team/5_sycgra.png">
            <div class="degradado">
                <div class="line"></div>
                <h4 class="name">Team member</h4>
                <div class="line"></div>
                <p class="job">Rol position</p>
            </div>
        </div>
        <div class="member" data-aos="zoom-in">
            <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717019/web%20projects/Brandy/team/6_tk6xkj.png">
            <div class="degradado">
                <div class="line"></div>
                <h4 class="name">Team member</h4>
                <div class="line"></div>
                <p class="job">Rol position</p>
            </div>
        </div>
    </div>
</section>

<section class="members-of">
    <img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600717020/web%20projects/Brandy/team/phone_kc0qjs.png" alt="" data-aos="zoom-in">
    <div class="text" data-aos="fade-right">
        <h3>Members of</h3>
        <p>Comunidad de Empresas de Comunicación de Costa Rica</p>
    </div>
</section>
<!--footer-->
<footer>
    <div class="contact" id="contact">
        <h2>Contact Us</h2>
        <h3><a href="mailto:hola@brandy.la">hola@brandy.la</a></h3>
        <p>ESCAZÚ, SAN JOSÉ, COSTA RICA TORRE BANCO GENERAL, 3RD FLOOR</p>
        <p><strong>Copyright 2019 © Brandy Creativity & Technology - All Rights Reserved</strong></p>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/WeAreBrandy/" target=”_blank”><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716989/web%20projects/Brandy/icons/fb-w_fhsgey.png" alt=""></a>
        <a href="https://www.instagram.com/brandycr/" target=”_blank”><img src="https://res.cloudinary.com/dcldwtvku/image/upload/v1600716989/web%20projects/Brandy/icons/instagram-w_yi4xya.png" alt=""></a>
    </div>
</footer>
<script>
    AOS.init();
</script>

</body>
</html>