.members-of{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    margin-bottom: 60px;
    img{
        width: 50%;
    }
    .text{
        width: 60%;
        position: absolute;
        bottom: 0;
        right: 20px;
        h3{
            font-size: 3rem;
            font-family: $titles;
            color: $purple;
            margin: 0;
            padding: 0;
        }
        p{
            margin-top: 15px;
            line-height: 1.3;
            font-size: 2rem;
            color: $grey;
        }
    }
}