//Colors
$white: #fff;
$black: #000000;
$white-grey: #e9e9e9;
$grey: #313131;
$purple: #7e1f4f;
$purple-dark: #681649;

//Fonts
$titles: 'Archivo Black', sans-serif;
$regular: 'Montserrat', sans-serif;